<h1>Hello</h1>
<div ng-show="authenticated">
	<p>Current user: {{currentUser.name}}</p>
	<p>Role: {{currentUser.role ? currentUser.role : currentUser.authoritie}}</p>
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" href="#collapse1">Edit user</a>
				</h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse">
				<div class="panel-body">
					<label>New Password:<input type="password" ng-model="editUser.password1"/></label><br>
					<label>Repeat New Password:<input type="password" ng-model="editUser.password2"/></label><br>
					<label>Preferred Working Hour Per Day:<input type="text" ng-model="editUser.preferredWorkingHourPerDay"/></label><br>
					<button type="submit" class="btn btn-primary" ng-click="updateUser()">Update</button>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>
<div  ng-show="!authenticated">
	<p>Login to see your data</p>
</div>
