<!doctype html>
<html>
<head>
<title>Toptal demo</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
<body ng-app="toptal-demo">
	<div></div>
	<div ng-controller="navigation" class="container">
	
		<ul class="nav nav-pills" role="tablist">
			<li ng-class="{ active: isSet(1)}"><a href ng-click="setTab(1)">home</a></li>
			<li ng-show="authenticated && isZonesVisible()" ng-class="{ active: isSet(2)}"><a href ng-click="setTab(2)">zones</a></li>
			<li ng-show="authenticated && isUsersVisible()" ng-class="{ active: isSet(3)}"><a href ng-click="setTab(3)">users</a></li>
			<li ng-show="!authenticated" ng-class="{ active: isSet(4)}"><a href ng-click="setTab(4)">login</a></li>
			<li ng-show="!authenticated" ng-class="{ active: isSet(5)}"><a href ng-click="setTab(5)">register</a></li>
			<li ng-show="authenticated"><a href="" ng-click="logout()">logout</a></li>
		</ul>
		
		<div ng-view class="container"></div>
	</div>
	
	
	<script type="text/javascript" src="js/angular-hateoas.js"></script>
	<script type="text/javascript" src="js/smart-table.min.js"></script>
	<script type="text/javascript" src="js/modul.js"></script>
	<script type="text/javascript" src="js/usersCtrl.js"></script>
	<script type="text/javascript" src="js/timeZonesCtrl.js"></script>
</body>
</html>
