<h1>Time Zones</h1>
<div ng-show="authenticated">

	<h4>Current user: {{currentUser.name}}</h4>
	
	<div>
		<label for="byName">Zone Name:</label>
        <input id="byName" type="text" ng-model="byName">
    </div>

	<br>
	
	<button type="button" ng-click="searchZones()" class="btn btn-sm btn-success">
		<i class="glyphicon glyphicon-search">
		</i> Search
	</button>

	<button type="button" ng-click="addZone()" class="btn btn-sm btn-success">
		<i class="glyphicon glyphicon-plus">
		</i> Add
	</button>
	<table st-table="zones" class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>City</th>
		        <th>Time Zone</th>
		        <th>Notes</th>
		    </tr>
	    </thead>
	    <tbody>
			<tr ng-repeat="zone in zones">
				<td ng-show="!zone.edit">{{zone.name}}</td>
				<td ng-show="zone.edit"><input type="text" ng-model="zone.name"/></td>
				<td ng-show="!zone.edit">{{zone.city}}</td>
				<td ng-show="zone.edit"><input type="text" ng-model="zone.city"/></td>
				<td ng-show="!zone.edit">{{ zone.timeZone | date }}</td>
				<td ng-show="zone.edit"><input type="text" ng-model="zone.timeZone"/></td>
				<td>
				<button ng-show="!zone.edit" type="button" ng-click="editZone(zone)" class="btn btn-sm btn-danger">
					<i class="glyphicon glyphicon-pencil">
					</i>
				</button>
				<button ng-show="!zone.edit" type="button" ng-click="removeZone(zone)" class="btn btn-sm btn-danger">
					<i class="glyphicon glyphicon-remove-circle">
					</i>
				</button>
				<button ng-show="zone.edit" type="button" ng-click="saveZone(zone)" class="btn btn-sm btn-danger">
					<i class="glyphicon glyphicon-ok">
					</i>
				</button>
				<button ng-show="zone.edit" type="button" ng-click="cancelZone(zone)" class="btn btn-sm btn-danger">
					<i class="glyphicon glyphicon-remove">
					</i>
				</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>